*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

/* adding loading screen */


    .loading-screen{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 20000;
        background-color: rgb(255, 255, 255);

        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 1;
        transition: opacity 0.1s ease;
    }

    .typewriter h1{
        overflow: hidden;
        border-right: .15em solid #ffdc4e;
        white-space: nowrap;
        animation: 
        typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
        font-family: SF Pro Rounded, 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    }
        /* The typing effect */
        @keyframes typing {
        from { width: 0 }
        to { width: 100% }
        }

        /* The typewriter cursor effect */
        @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #ffdc4e }
        }

@font-face {
    font-family: 'SF Pro Rounded';
    src: url(assets/SF-Pro-Rounded-Regular.otf) format('opentype');
}
body {
  margin: 0;
  overflow: hidden; 
  background-color: #e0e0e0;

}

.canvas {
    position: fixed;
    width: 100vw;
    overflow: scroll;
    height: 100vh;
    top:0;
    left:0;
}

.content img{
    width: 22rem;
}
nav img{
    width: 150px;
    margin: 10px;
}
.content {
    
    position: relative;
    width: 5000px;
    height: 5000px;
    
}

.choices{
    margin: 20px;
    width: 300px;
    bottom: 10px;
    position: fixed;
    background-color: #ffffff;
    z-index: 4;
    border: 1px solid black;
}

input{
    font-size: 15px;
    background-color: #ffffff;
    border: none;
    padding-top: 10px;
}

.note{
    background-size:contain;
    width: 400px;
    height:400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center; 
    align-items: center;   
    flex-direction: column;
    user-select: none;
    position: absolute;
}
.note:hover{
    cursor:move;
}

.message{
    font-size: 20px;
    width: 45%;
    color: black;
    font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-align: left;
}
.date{
    font-size: 15px;
    font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
textarea {
  resize: none;
}

#submitBtn {
  border: 1px solid black;
  color: black; 
  padding: 5px 10px; 
  cursor: pointer; 
  font-size: 15px;
  background-color: white;
  font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#submitBtn:hover {
  background-color: #ffdc4e;  
}
#submitBtn:active {
    background-color: #9b9b9b; 
    color: rgb(0, 0, 0);
}
label{
    font-size: 20px;
    color: black;
    font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}



#aboutGrid{
position: fixed;
    display: grid;
    top:20px;
    right: 20px;
    background-color: #ffffff;
    padding: 0;
    z-index: 4;
    border: 1px solid black;
    width: 220px;
}
#Paste{
    background-color: #ffdc4e;
    padding: 10px;
}
h2{
    font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
}

#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #ffdc4e;  
}
#about h2{
    padding: 10px; 
}
#about:hover{
    cursor: pointer;
}
#about:active{
    background-color: #9b9b9b; 
    color: rgb(0, 0, 0);
}
#aboutText{
    font-size: 15px;
    font-family: 'SF Pro Rounded', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#aboutText{
    background-color: white;
    padding:10px;
}

#choicesInput{
    padding-left: 10px;
    padding-bottom: 10px;
}

a{
    color: black;
}